OPENAI_API_KEY={OPENAI_API_KEY}
DATA_SERVICE_URL=http://localhost:8001
HMI_SERVER_URL=http://localhost:3000
AUTH_USERNAME=user
AUTH_PASSWORD=pass
JUPYTER_SERVER=http://localhost:8888
JUPYTER_TOKEN=ebcec7fcf42f28baccfab1cbc07bfb3f
ENABLE_CHECKPOINTS=false
TOOL_ENABLED_ASK_USER=false
TOOL_ENABLED_RUN_CODE=false
MIRA_REST_URL=http://mira-epi-dkg-lb-c7b58edea41524e6.elb.us-east-1.amazonaws.com
